
.DS_Store
数据挖掘/.ipynb_checkpoints/ionosphere数据集-k近邻算法-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/Iris数据集分析-pca-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/Iris数据集分析1-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/使用oneR算法来实现iris分类-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/数据挖掘-diabetes数据集分析-糖尿病病情预测_线性回归_最小平方回归-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/近邻分类器完成分类-checkpoint.ipynb
数据挖掘/.ipynb_checkpoints/数据挖掘-商品购买记录-商品推荐_亲和度分析-checkpoint.ipynb
NBA数据/.ipynb_checkpoints/Untitled-checkpoint.ipynb
NBA数据/Untitled.ipynb
nba预测/.ipynb_checkpoints/prediction-checkpoint.ipynb
tensorflow/.ipynb_checkpoints/tensorflow处理结构-checkpoint.ipynb
tensorflow/.ipynb_checkpoints/会话控制-checkpoint.ipynb
tensorflow/.ipynb_checkpoints/variable-checkpoint.ipynb
tensorflow/tensorflow学习笔记/.ipynb_checkpoints/Untitled-checkpoint.ipynb
tensorflow/tensorflow学习笔记/.ipynb_checkpoints/tensorflow操作基础-checkpoint.ipynb
tensorflow/tensorflow学习笔记/.ipynb_checkpoints/模型的保存和载、数据读取-checkpoint.ipynb
tensorflow/tensorflow学习笔记/model/checkpoint
tensorflow/tensorflow学习笔记/.ipynb_checkpoints/tensorboard使用-checkpoint.ipynb
